<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>CHESS</title>
		<link rel="stylesheet" href="lib/chessboardjs/css/chessboard-0.3.0.css">
	</head>
	<body>
		<center><div id="board" style="width: 400px"></div><br><input type="button" name="undo" id="undo" value="UNDO" onclick="undo()"></center>

		<script src="lib/jquery/jquery.js"></script>
		<script src="lib/chess/chess.js"></script>
		<script src="lib/chessboardjs/js/chessboard-0.3.0.js"></script>
		<script src="script.js"></script>	
	</body>
</html>